.list {
  width: 50vw;
}

.listOuterDiv {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
}

.listOuterDiv:hover .icon {
  visibility: visible;
}

.listOuterDiv:hover .openTasksIcon {
  visibility: visible;
}

.listOuterDiv:hover .listInnerDiv {
  background-color: var(--tertiary);
}

.listInnerDiv {
  width: 50vw;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4px 10px;
  transition: background-color 0.2s ease-in-out;
}
.header {
  cursor: pointer;
}

.listname {
  width: fit-content;
  font-size: larger;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
}

.underlineDiv {
  background-color: var(--secondary);
  width: 100%;
  height: 1px;
}

.openTasksIcon {
  position: absolute;
  right: 5px;
  top: 16px;
  transform: translateY(-50%);
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}

.icon,
.hidden {
  visibility: hidden;
  padding-top: 8px;
  transition: visibility 0.2s ease-in-out;
  cursor: pointer;
}

.tasksDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tasksDiv::-webkit-scrollbar {
  width: 5px;
  background-color: white;
  border-radius: 20px;
}
.tasksDiv::-webkit-scrollbar-thumb {
  background-color: var(--q);
  border-radius: 20px;
}
