@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  transition: all 0.5s ease;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;

  --primary: black;
  --secondary: #a7a7a7;
  --tertiary: #454545;
  --quaternary: #1e1e1e;
  --modalbg: #1f1f1f;
  --inverse: white;
  --q: rgb(0, 0, 114);
}

.light:root {
  transition: all 0.5s ease;
  background-color: white;
  color: black;

  --primary: white;
  --secondary: #787878;
  --tertiary: #e7e7e7;
  --quaternary: #636363;
  --modalbg: #f4f4f4;
  --inverse: black;
  --q: rgb(225, 225, 112);
}

.changeThemeDiv {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}
